body {
    background-color: #f4e828;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    svg {
        width: 100%;
    }
  }